[submodule "hitechclaw-plugins"]
	path = hitechclaw-plugins
	url = https://github.com/xdev-asia-labs/hitechclaw-plugins.git
[submodule "hitechclaw-demo-integration-app"]
	path = hitechclaw-demo-integration-app
	url = https://github.com/xdev-asia-labs/hitechclaw-demo-integration-app.git
